<!DOCTYPE html>
<html>
  <head>
    <title>Purchase Report</title>
  </head>
  <body>
    <h1 style="text-align: center">PURCHASE REPORT</h1>

    <p style="text-align: center">Address: Shop No.3, APMC, Babhulgaon</p>
    <p style="text-align: center">Contact No. <b>9423131301</b></p>

    <p style="text-align: center">Date of Statement: 07 November 2020</p>
    <p style="text-align: center">
      Statement: 02 November 2020 to 07 November 2020
    </p>

    <h3>CHANA</h3>
    <table style="border-collapse: collapse; width: 100%; text-align: center">
      <thead>
        <tr>
          <th style="border: 1px solid black; padding: 5px">#</th>
          <th style="border: 1px solid black; padding: 5px">Date</th>
          <th style="border: 1px solid black; padding: 5px">Bill No</th>
          <th style="border: 1px solid black; padding: 5px">Party</th>
          <th style="border: 1px solid black; padding: 5px">Material</th>
          <th style="border: 1px solid black; padding: 5px">Weight</th>
          <th style="border: 1px solid black; padding: 5px">Purchase Amount</th>
          <th style="border: 1px solid black; padding: 5px">Adat</th>
          <th style="border: 1px solid black; padding: 5px">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="border: 1px solid black; padding: 5px">1</td>
          <td style="border: 1px solid black; padding: 5px">02 Nov 2020</td>
          <td style="border: 1px solid black; padding: 5px">856</td>
          <td style="border: 1px solid black; padding: 5px">Pawan Sharma</td>
          <td style="border: 1px solid black; padding: 5px">CHANA</td>
          <td style="border: 1px solid black; padding: 5px">3.79</td>
          <td style="border: 1px solid black; padding: 5px">₹16,305.00</td>
          <td style="border: 1px solid black; padding: 5px">₹203.81</td>
          <td style="border: 1px solid black; padding: 5px">₹16,508.81</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th
            style="border: 1px solid black; padding: 5px; text-align: right"
            colspan="5"
          >
            Total
          </th>
          <td style="border: 1px solid black; padding: 5px">3.79</td>
          <td style="border: 1px solid black; padding: 5px">₹16,305.00</td>
          <td style="border: 1px solid black; padding: 5px">₹203.81</td>
          <td style="border: 1px solid black; padding: 5px">₹16,508.81</td>
        </tr>
      </tfoot>
    </table>

    <br /><br /><br />

    <table style="border-collapse: collapse; width: 100%; text-align: center">
      <thead>
        <tr>
          <th style="text-align: left; border: 1px solid black; padding: 5px">
            #
          </th>
          <th style="text-align: left; border: 1px solid black; padding: 5px">
            CHANA
          </th>
          <th style="text-align: left; border: 1px solid black; padding: 5px">
            SOYABEAN
          </th>
          <th style="text-align: left; border: 1px solid black; padding: 5px">
            TOTAL
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th style="text-align: left; border: 1px solid black; padding: 5px">
            PATTA
          </th>
          <td style="text-align: left; border: 1px solid black; padding: 5px">
            ₹4,302.11
          </td>
          <td style="text-align: left; border: 1px solid black; padding: 5px">
            ₹51,222.18
          </td>
          <td style="text-align: left; border: 1px solid black; padding: 5px">
            ₹55,524.29
          </td>
        </tr>
        <tr>
          <th style="text-align: left; border: 1px solid black; padding: 5px">
            PATTA(WEIGHT)
          </th>
          <td style="text-align: left; border: 1px solid black; padding: 5px">
            3.79
          </td>
          <td style="text-align: left; border: 1px solid black; padding: 5px">
            844.86
          </td>
          <td style="text-align: left; border: 1px solid black; padding: 5px">
            848.65
          </td>
        </tr>
        <tr>
          <th style="text-align: left; border: 1px solid black; padding: 5px">
            ADAT
          </th>
          <td style="text-align: left; border: 1px solid black; padding: 5px">
            ₹203.81
          </td>
          <td style="text-align: left; border: 1px solid black; padding: 5px">
            ₹35,031.08
          </td>
          <td style="text-align: left; border: 1px solid black; padding: 5px">
            ₹35,234.89
          </td>
        </tr>
      </tbody>
    </table>

    <br /><br /><br />

    <div
      style="display: flex; flex-direction: row; justify-content: space-between"
    >
      <table style="border-collapse: collapse; width: 45%; text-align: center">
        <thead>
          <tr>
            <th colspan="2" style="border: 1px solid black; padding: 5px">
              MARKET FEE
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th style="text-align: left; border: 1px solid black; padding: 5px">
              CHANA
            </th>
            <td style="border: 1px solid black; padding: 5px">₹4,302.11</td>
          </tr>
          <tr>
            <th style="text-align: left; border: 1px solid black; padding: 5px">
              CHANA
            </th>
            <td style="border: 1px solid black; padding: 5px">₹4,302.11</td>
          </tr>
          <tr>
            <th style="text-align: left; border: 1px solid black; padding: 5px">
              TOTAL
            </th>
            <td style="border: 1px solid black; padding: 5px">3.79</td>
          </tr>
        </tbody>
      </table>

      <table style="border-collapse: collapse; width: 45%; text-align: center">
        <thead>
          <tr>
            <th colspan="2" style="border: 1px solid black; padding: 5px">
              Total Payment
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th style="text-align: left; border: 1px solid black; padding: 5px">
              Total Payment Due
            </th>
            <td style="border: 1px solid black; padding: 5px">₹28,54,026.34</td>
          </tr>
        </tbody>
      </table>
    </div>

    <br><br><br>
    
    <table style="border-collapse: collapse; width: 50%; text-align: center">
      <thead>
        <tr>
          <th colspan="2" style="border: 1px solid black; padding: 5px">
            Total Payment Dues
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th style="text-align: left; border: 1px solid black; padding: 5px">
            Pawan Sharma
          </th>
          <td style="border: 1px solid black; padding: 5px">₹28,54,026.34</td>
        </tr>
        <tr>
          <th style="text-align: left; border: 1px solid black; padding: 5px">
            Pawan Sharma
          </th>
          <td style="border: 1px solid black; padding: 5px">₹28,54,026.34</td>
        </tr>
        <tr>
          <th style="text-align: left; border: 1px solid black; padding: 5px">
            Pawan Sharma
          </th>
          <td style="border: 1px solid black; padding: 5px">₹28,54,026.34</td>
        </tr>
        <tr>
          <th style="text-align: left; border: 1px solid black; padding: 5px">
            Pawan Sharma
          </th>
          <td style="border: 1px solid black; padding: 5px">₹28,54,026.34</td>
        </tr>
        <tr>
          <th style="text-align: left; border: 1px solid black; padding: 5px">
            Pawan Sharma
          </th>
          <td style="border: 1px solid black; padding: 5px">₹28,54,026.34</td>
        </tr>
        <tr>
          <th style="text-align: left; border: 1px solid black; padding: 5px">
            Pawan Sharma
          </th>
          <td style="border: 1px solid black; padding: 5px">₹28,54,026.34</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
